<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @user.name %>, log in to zuzu.herokuapp.com</h1>
    <h2>From <%= current_user.name %></h2>
  </body>
</html>