<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @user.name %></h1>
    <p>I would like chat with You</p>
    <p>please write me here <%= current_user.email %></p>
    <p>Thanks,</p>
    <p><%= current_user %></p>
  </body>
</html>