<div class="span11" id="comment">
  <div class="span3" id="author">
    <p><%= link_to (comment.user.try(&:name)), user_path(@user) %><i class="fa fa-user fa-2x" id="icon"></i></p>
  </div>
  <div class="span10" id="comment_text">
    <p>Commenter: <%= comment.commenter %></p>
  </div>
  <div class="span3" id="created_at">
    <p><%= link_to (comment.created_at), user_path(@user) %></p>
  </div>
</div><br>

