<%= form_for([@article, @article.raitings.build], remote: true ) do |f| %>
  <div class="field">
    <div id="star-rating"></div>
  </div>
  <div class="actions">
    <%= f.submit class: "button_vote" %>
  </div>
<% end %>

