<%= form_for([@article, @article.raitings.build], remote: true) do |f| %>
  <div class="field">
    <div id="star-rating"></div>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-info", id: "button_vote" %>
  </div>
<% end %>

