<div class="rating" data-score= <%= @avg_raiting %> ></div>

<script>
  $('.rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
          return $(this).attr("data-score");
    }
  });
</script>
