<div class="center hero-unit">
<h1>Hello, Rails!</h1>
<%= link_to 'Ресурс Articles', controller: 'articles', class: "btn btn-large btn-primary"  %>
|<%= link_to 'Ресурс Users', controller: 'users', class: "btn btn-large btn-primary"  %>
|<%= link_to 'Ресурс Tags', controller: 'tags', class: "btn btn-large btn-primary"  %>
</div>