<h3><%= current_user.username %></h3>
<div class="span2">
  <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %><br>
  <%= link_to 'Change password', edit_user_password_path %>
</div>

<h3><%= user_signed_in?%></h3>
