<h3><%= current_user.username %></h3>
<div class="span2">
  <%= link_to 'Edit',  edit_user_registration_path  %><br>
  <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
</div>



