  #article_table {
    margin-left:0%;
    margin-top: 3%;
    margin-down: 30px;
  }
  #title_center {
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    margin: 5px;
  }
    #by {
    text-align: right;
    }
/*розміри text_field і select у формі для створення і редагування article*/
  .text_field {
    width: 170px;
  }
  #article_user_id {
    width: 170px;
  }
/* обмежений доступ для незареєстрованих users при створенні/редагуванні articles */
   .sign_out {
     color: #08c; 
     cursor: pointer; 
   }