  #comment {
    position:relative;
    left:0%;
    top:10%;
    margin: 10px;
  }
  #comment_text {
    background: #F7FBFF;
    padding: 10px;
    padding-bottom: 5px;
    margin: 0px;
    border: 1px solid #0099FF;
  }
  #author {
    background: #F7FBFF;
    position:relative;
    left:0%;
    top:0%;
    padding-top: 5px;
    padding-left: 10px;
    border: 1px solid #0099FF;
  }
  #created_at {
    background: #F7FBFF;
    position:relative;
    left:57.2%;
    top:0%;
    padding-top: 5px;
    padding-left: 10px;
    border: 1px solid #0099FF;
  }
  #icon_user {
    position:absolute;
    left:85%;
  }
  #delete_comment {
    position:relative;
    left:97.7%;
    padding-top: -10px;
    padding-left: 0px;
    margin-top: -15px;
    margin-bottom: 10px;
  }
  #comment_p {
    position:relative;
    left:-5%;
  }
  .text_field_commenter {
    width: 700px;
  }
  #add_comment {
    margin: 30px;
    margin-left: 40px;
  }
 #new_comment {
    margin-left: 0px;
 }
  #comment_section {
  display: none
  }