  .ava {
    position:relative; left:0%;
  }
  .name {
    position:relative; left:0%;
  }
  .my {
    position:relative; left:0%; top:100%;
  }
  #left_part {
    border-left: 3px dashed #ccc;

    margin-left: 20px;
    padding-left: 10px;
  }
