#rating {
  text-align: left;
  position:relative;
  left:5%;
}
#create_raiting {
  text-align: center;
    margin-bottom: 30px;
}
#voting_message {
  text-align: center;
  background: #EBE0D6;
  margin: 15px;
  position:relative;
  left:6%;
}

