/*show*/
  .users_articles {
    font-size: 16px;
    position:absolute;
    left:35%;
    top:10%;
  }
/*index*/
  #user_table {
    margin-left: 10%;
    margin-top: 3%;
    margin-down: 30px;
  }
  #pagination_user {
    position:relative;
    top:0%;
    left:0%;
    font-weight: bold;
  }
    .title {
    font-size: 22px;
    position:relative;
    left:10%;
    top:10%;
  }