<p>Welcome to zuzu.herokuapp.com, <%= @user.name %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@zuzu.herokuapp.com, confirmation_token: @token) %></p>
