<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-10 twitter">
        <p>Made by<span class="zdub">  ZDUB<span class="zdab">ZDAB</span></span></p>
      </div>
    </div>
  </div>
</footer>