<header class="navbar-inner">
              <nav>
              <ul class="nav pull-right">
                <li><%= link_to 'User', users_path %></li>
                <li><%= link_to 'Article', articles_path %></li>
                <li><%= link_to 'Tag', tags_path %></li>
              </ul>
            </nav>
</header>